<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
    <title>CadProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
          <li><a href="patients">Patients</a></li>
          <li><a href="collapsible.html">My Profile</a></li>
        </ul>
      </div>
    </nav>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
